body {
    font-family: Arial, sans-serif;
    margin: 40px;      
}

#logo {
    position: absolute; /* Allows positioning relative to the screen */
    top: 10px; /* Adjust distance from the top */
    right: 40px; /* Adjust distance from the right */
    width: 150px; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
}   

.allUsersTable {
    visibility: hidden;
    max-width: 1800px; /* Limit the table width */
    margin: 0 auto;    /* Center the table horizontally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background: rgba(230, 226, 226, 0.8);
    table-layout: auto;      /* Allows the table columns to adjust based on content */
}

.allUsersTable tr {
    height: 40px; 
}

.allUsersTable th, .allUsersTable td {
    border: 1px solid #b7abab;
    padding: 8px;
    text-align: left;            
    color: black; 
}

.allUsersTable th{
    background-color: rgb(210, 212, 212);
}

.allUsersTable th:nth-child(1), .allUsersTable td:nth-child(1) {
    max-width: 180px;         /* Set max width for ID column */
    overflow: hidden;         /* Hide overflowing text */
    text-overflow: ellipsis;  /* Add ellipsis if the text overflows */
    white-space: nowrap;      /* Prevent text wrapping */
}

.allUsersTable tbody tr:hover {
    background-color: #c6e5cd; /* Highlight row on hover */
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px; 
}

button {
    visibility: hidden;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#userIdInput, #pageInput {
    visibility: hidden;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#userIdInput {
    width: 305px;
}

#pageInput {    
    width: 200px;    
}

.pagination {
    display: flex;
    justify-content: center; /* Center-align the buttons and input */
    align-items: center; /* Vertically align items */
    gap: 10px; /* Add space between buttons and input */
    margin-top: 20px; /* Add spacing above the section */
}



.sortable:hover {
    color: #1765b8; /* Example: Change text color on hover */
    text-decoration: underline; /* Example: Add underline on hover */
    cursor: pointer;
}


@media (max-width: 600px) {
    .allUsersTable th:nth-child(1),
    .allUsersTable td:nth-child(1) {
      white-space: normal;
    }
  
    .allUsersTable th, .allUsersTable td {
      font-size: 8px;
      padding: 4px;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 20px;      
    }
    
    #logo {
        position: absolute; /* Allows positioning relative to the screen */
        top: 10px; /* Adjust distance from the top */
        right: 10px; /* Adjust distance from the right */
        width: 150px; /* Adjust logo width */
        height: auto; /* Maintain aspect ratio */
    } 
  
    #pageInput {
      width: 60px;
      font-size: 10px;
    }
  
    #userIdInput {
        width: 150px;
        font-size: 10px;
    }  

    button {
        visibility: hidden;
        padding: 7px 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    header h1 {
        margin: 0; /* Remove default margins */
        padding-top: 75px; /* Push text down so it won't overlap the logo */  
    } 

    .flex-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .allUsersTable {
        order: 1;
    }

    #currentPageContainer{
        font-size: 10px;
        order: 2;
   }

    .controls {
        gap: 10px;
        display: flex;
        position: sticky;       
        order: 3; 
    }

    #getUserById{
        order: 2;
    }

    #userIdInput{
        order: 3;
    }
    
    #loadUsers{
        order: 1;
    }

    .pagination {
        position: fixed;
        bottom: 10px;
        order: 4; 
    }

    #prevPageButton {
        order: 1; 
    }

    #goToPageButton {
        order: 2; 
    }

    #nextPageButton {
        order: 3;
    }

    #pageInput {
        padding: 10px 25px;
        order: 4; 
    }   
}
